<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="description" content="Random Image Slideshow built with Flask">
	<meta name="keywords" content="Flask, Images, Slideshow">
    <title>Random Image from External Folder</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />
</head>
<body>
	<div class="page">
		<div class="content">
			{% if error %}
			<p class="err">Wtf u doing bro, add some dirs fr fr</p>
			{% endif %}
			<form method="post" class="form-container" id="dirs-form">
				<div class="settings-wrapper">
					<div class="timer-settings">
						<p>Timer Settings</p>
						<div id="spinner" class="spinner">
							<button type="button" class="spinner-btn" id="decrementBtn" onclick="decrement()"><</button>
							<span id="spinner-value">{{ timer }}</span>
							<input type="hidden" name="timer" id="hiddenInput">
							<button type="button" class="spinner-btn" onclick="increment()">></button>
						</div>
					</div>
					<div class="directory-list">
						<p>Directory List</p>
						<div class="directory-list-ov">
						{% for full_path, dir in directories %}
						<label class="dir-item">
							<input type="checkbox", name="directories", value="{{ full_path }}"
									{% if full_path in selected %}checked{% endif %}>
							<b>{{ dir }}</b>
						</label>
						{% endfor %}
						</div>
					</div>
					<div class="dir-type">
						<p>All or Favourite?</p>
						<label class="dir-item">
							<input type="radio" name="favourite" value="0" {{ 'checked' if not favourite else '' }}>
							<b>All</b>
						</label>
						<label class="dir-item">
							<input type="radio" name="favourite" value="1" {{ 'checked' if favourite else '' }}>
							<b>Favourite Only</b>
						</label>
					</div>
				</div>
				<div class="button-group">
					<button type="submit">Back & Save</button>
					<button type="button" onclick="window.location.href='/';" {{ 'disabled' if error else '' }}>Cancel</button>
				</div>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/directories.js') }}"></script>
</html>
