<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="description" content="Random Image Slideshow built with Flask">
	<meta name="keywords" content="Flask, Images, Slideshow">
    <title>Random Image from External Folder</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />
</head>
<body>
	<div class="page">
		<div class="content">
			<img id="random-image" src="{{ url_for('serve_image', filename=image) }}" alt="Random Image">
			<p><em id="random-image-name">{{ image_name }}</em></p>
			<div class="button-group">
				<button class="trash" onclick="trash()">🗑</button>
				<label class="timer">
					<input id="autoimg" type="checkbox" name="timer" value="autoimg"><b>Timer</b>
				</label>
				<button onclick="loadNewImage()">Random!</button>
				<button onclick="window.location.href = '/directories'">Settings</button>
				<label class="timer">
					<input id="like" type="checkbox" name="like">♡
				</label>
			</div>
		</div>
	</div>
</body>
<script>
	const timer = Number('{{ timer }}')
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</html>
